// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3D5AFE;
$indigo: #5f27cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff6b6b;
$orange: #ff9f43;
$yellow: #feca57;
$green: #27ae60;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$border-radius: 4px !default;
$border-radius-lg: 4px !default;
$border-radius-sm: 4px !default;

$theme-colors: (
    "primary": #3D5AFE,
    "primary-light": #8C9EFF,
    "primary-dark": #1A237E,
);

h1, h2, h3, h4 {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 800 !important;
}

.title {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 800 !important;
}

.form-control {
    background-color: #f6f7fb !important;
    border: 1px solid #f6f7fb !important;
}

.btn {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 600 !important;
}

.bg-gradient {
    background: linear-gradient(90deg, #3D5AFE, #6200EA) !important;
}

.bg-gradient-light {
    background: linear-gradient(90deg, #3D5AFE, #7C4DFF) !important;
}

.bg-gradient-dark {
    background: linear-gradient(90deg, #3D5AFE, #4527A0) !important;
}

.bg-gradient-pattern {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23000000' fill-opacity='0.16' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E"), linear-gradient(90deg, #3D5AFE, #6200EA) !important;
}

.hero {
    height: 100vh;
}

.nav-item.nav-link {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 600 !important;
}

.border-profile {
    border: 7.5px solid #fff;
}
